### Assignment 3 Key
__Author__: Dr. Beadling. For any questions regarding the contents of this notebook please contact rebecca.beadling@temple.edu.

### 1. Create a list with the names of every planet in the solar system (in order by distance from the sun)

#### _skill tested: List creation_

In [3]:
planets = ['Mercury',
           'Venus',
           'Earth', 
           'Mars', 
           'Jupiter', 
           'Saturn', 
           'Uranus', 
           'Neptune']

In [4]:
planets

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

### 2. Have Python tell you how many planets there are by examining your list.

#### _skill tested: Use of len() method_

In [5]:
len(planets)

8

In [16]:
print('There are '+ str(len(planets)) +' planets in our solar system!')

There are 8 planets in our solar system!

### 3. Use slicing to display the first four planets (the rocky planets). In the Markdown cell for this question, embed images of the four planets.

#### _skill tested: indexing and slicing

In [17]:
planets[0:4]

['Mercury', 'Venus', 'Earth', 'Mars']

In [18]:
planets[:4]

['Mercury', 'Venus', 'Earth', 'Mars']

![](https://upload.wikimedia.org/wikipedia/commons/4/4a/Mercury_in_true_color.jpg)

### 4. Iterate through your planets and print the planet name only if it has a “s” at the end.

### _skill tested: negative indexing, if statements, and for loops_

In [25]:
for planet in planets:
    if planet[-1]=='s':
        print(planet)

Venus
Mars
Uranus

In [ ]:
### Or as some of you discovered,
### you could have used the endswith python method, 
### which we did not cover in class.

In [26]:
for planet in planets:
    if planet.endswith('s'):
        print(planet)

Venus
Mars
Uranus

### 5. Create a dictionary that maps each planet name to its mass. You can use values from this NASA fact sheet (https://nssdc.gsfc.nasa.gov/planetary/factsheet/). You can use whatever units you want but be consistent.

### _skill tested: dictionary data types_

In [57]:
planet_mass_kg = {
    "Mercury": .330e24,
    "Venus": 4.87e24,
    "Earth": 5.97e24,
    "Mars": .642e24,
    "Jupyter": 1898e24, 
    "Saturn": 568e24,
    "Uranus": 86.8e24,
    "Neptune": 102e24
}

### 6. Use your dictionary to look up Earth’s mass.
### _skill tested: accessing key pairs in dicts_

In [29]:
planet_mass_kg["Earth"]

5.97e+24

### 7. Loop through the data and create a list of planets whose mass is greater than 100 x 10^24 kg.

### _skill tested: loops_

In [40]:
for planet in planet_mass_kg:
    if planet_mass_kg[planet] > 100e24:
        print(planet)

Jupyter
Saturn
Neptune

In [41]:
for planet in planet_mass_kg:
    if planet_mass_kg[planet] > 100e24:
        print(planet_mass_kg[planet])

1.898e+27
5.68e+26
1.02e+26

In [42]:
large_planets = []              ## Creates an empty list
for planet in planet_mass_kg:
    if planet_mass_kg[planet] > 100e24:
        large_planets.append(planet) ## add to our empty list

### 8. Display your result

In [45]:
large_planets

['Jupyter', 'Saturn', 'Neptune']

### 9. Now add Pluto to your dictionary.

In [48]:
planet_mass_kg["Pluto"] = 0.0130e24

In [49]:
planet_mass_kg

{'Mercury': 3.3e+23,
 'Venus': 4.87e+24,
 'Earth': 5.97e+24,
 'Mars': 6.42e+23,
 'Jupyter': 1.898e+27,
 'Saturn': 5.68e+26,
 'Uranus': 8.68e+25,
 'Neptune': 1.02e+26,
 'Pluto': 1.3e+22}

### 14. Write a dictionary that maps your course names to your course time. Example: ‘EES 2096’ : ‘T R 9:30 – 10:50 AM’.

In [58]:
My_Courses = {'EES 3506':'T R 9:30 - 10:50 AM',
             'Office Hours': 'W 1:00 - 3:00 PM'}

In [59]:
My_Courses

{'EES 3506': 'T R 9:30 - 10:50 AM', 'Office Hours': 'W 1:00 - 3:00 PM'}

### 11. Write a function to convert from miles to kilometers (km) and km to miles, with the user specifying either miles or km as inputs.

### 12. Check that the results are sensible by trying several examples.

In [83]:
## By default, this function assumes a desired unit of miles
def convert_distance(distance, desired_units='miles'):
    if desired_units == 'miles':
        dist_converted = distance*0.621371
    if desired_units == 'km':
        dist_converted = distance*1.60934
    return dist_converted

In [84]:
convert_distance(5,desired_units='miles')

3.106855

In [85]:
convert_distance(10,desired_units='km')

16.0934

In [87]:
convert_distance(5)

3.106855

In [88]:
## No default units assumed
def convert_distance(distance, desired_units):
    if desired_units == 'miles':
        dist_converted = distance*0.621371
    if desired_units == 'km':
        dist_converted = distance*1.60934
    return dist_converted

In [89]:
convert_distance(5,desired_units='miles')

3.106855

In [90]:
convert_distance(10,desired_units='km')

16.0934

### 13. Use your function to determine the length of a 5K race in miles.

In [91]:
convert_distance(5,desired_units='miles')

3.106855

### 14. Write a function that computes and returns the surface area of a sphere.

![](https://i.ytimg.com/vi/U1tLqWORd4k/maxresdefault.jpg)

In [106]:
def surface_area_sphere(radius):
    area = 4*3.14*(radius**2)
    return area

### 15. Use your function to compute the surface air of the Sun and of the Earth.

In [123]:
### radius of earth = 6378.1370 km
### radius of sun = 696340 km

earth_area = surface_area_sphere(6378.1370)
sun_area = surface_area_sphere(696340)

In [124]:
earth_area

511207893.3958109

In [125]:
sun_area

6093299852082.22

In [126]:
## a more precise way to do this is 
## to use numpy's .pi method:
import numpy as np

def surface_area_sphere(radius):
    area = 4*np.pi*(radius**2)
    return area

In [127]:
earth_area = surface_area_sphere(6378.1370)
sun_area = surface_area_sphere(696340)

In [128]:
earth_area

511207893.3958109

### 16. Write a function that takes two arguments (feet and inches) and returns height in meters.

In [129]:
def height_in_meters(feet,inches):
    total_height_inches = (feet * 12) + inches
    height_in_meters = total_height_inches*0.0254 
    ## 1 inch == 0.0254 meters
    
    return height_in_meters

In [130]:
my_height_meters = height_in_meters(4,11)

In [131]:
my_height_meters

1.4986

### 17. Write a function that takes that takes one argument (height in meters) and returns two arguments (feet and inches).

In [146]:
def height_in_feet_inches(meters):
    inches = meters / 0.0254
    feet = (inches / 12)
    return(feet, inches)

In [147]:
my_height = height_in_feet_inches(1.4986)

In [148]:
my_height

(4.916666666666667, 59.0)

### Or

In [153]:
## Just print directly instead of storing as variables
def height_in_feet_inches(meters):
    inches = meters / 0.0254
    feet = (inches / 12)
    print(feet)
    print(inches)

In [151]:
my_height = height_in_feet_inches(1.4986)

4.916666666666667
59.0

### Or

In [178]:
def height_in_feet_inches(meters):
    inches = meters / 0.0254
    feet = (inches / 12)
    print('my height is '+str(feet)+' ft'+' and '+str(inches) + " inches")

In [179]:
my_height = height_in_feet_inches(1.4986)

my height is 4.916666666666667 ft and 59.0 inches

### Or

In [184]:
def height_in_feet_inches(meters):
    inches = meters / 0.0254
    feet_whole = int(inches // 12)
    inches_remainder = int(inches % 12)
    print('my height is '+str(feet_whole)+' ft'+' and '+str(inches_remainder) + " inches")

In [185]:
my_height = height_in_feet_inches(1.4986)

my height is 4 ft and 11 inches